html,
body,
#map {
    font: normal normal 200 14px "Lato", sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style:none;
    padding-left:0;
    width: 100%;
}

li {
    padding: 3px 0;
    list-style-type: none;
    background-color: #d3d3d3;
    width: 100%;
}

li:nth-child(odd) {
    background: #f8f8ff;
}

input {
    width: 100%;
}