html, 
body,
#map {
    font-family: "Lato", sans-serif;
    color: black;
    font-weight: 200;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style:none;
    padding-left:0;
    width: 100%;
}

li {
    padding-top: 3px;
    padding-bottom: 3px;
    list-style-type: none;
    background-color: #d3d3d3;
    width: 100%;
}

li:nth-child(odd) {
    background: #f8f8ff;
}

input {
    width: 100%;
}